/**
* 
* Color Theme Swatches in Hex 
*
*   .UI/UX-1-hex { color: #2F4673; }
*   .UI/UX-2-hex { color: #64758C; }
*   .UI/UX-3-hex { color: #949BA6; }
*   .UI/UX-4-hex { color: #D9D9D9; }
*   .UI/UX-5-hex { color: #0D0D0D; }
*
*/

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #2F4673;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 900px;
    display: flex;
}

#navigation-bar {
    width: 280px;
    min-height: 50px;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 280px;
    background-color: #f1f1f1;
}

li a {
    border: 2px solid #0D0D0D;
    border-radius: 5%;
    width: 280px;
    display: block;
    background-color: #D9D9D9;
    text-align: center;
}

li a:hover {
    background-color: #64758C;
    color: #949494;
}

a {
    font-size: 40px;
    margin: 2px 2px 2px 0px;
    text-decoration: none;
}

a:visited {
    color: #2F4673;
}

a:active {
    color: #2F4673;
}

#left-content {
    border: 2px solid white;
    background-color: #D9D9D9;
    width: 100vh;
    padding: 0px 2px;
}

button {
    cursor: pointer;
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10%;
    margin: 5px;
    border: 2px double dodgerblue;
    background-color: rgba(0, 139, 139, 0.763);
    font-size: 20px;
}

button:hover {
    border: 4px solid dodgerblue;
    background-color: rgba(0, 139, 139, 0.3);
}